

<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowformResults">  

            <div class="form-group">
                <label name="SearchPhrase" class="control-label">Pesquisar por:</label>
                <input name="SearchPhrase" class="form-control" />
            </div>
            <div class="form-group">
                <p></p>
                <input type="submit" value="Pesquisar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

