


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">JokesApp</h1>
    <h2>A Maior auturidade de humor num localhost!</h2>
    <img src="~/imagens/trollface.png" />
    
    
</div>
