@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Este site corre num servidor local.</p>
<p>Por isso n existe ameças de segurançã.</p>
<img src="~/imagens/areulost.jpg" width="390" />

